/* HEADER */
/* TABLET/DESKTOP */
@media screen and (min-width: 992px) {
    header .container {
        margin: 0 auto;
        width: 70%;
        max-width: 900px;
    }

    header .fa-solid {
        display: none;
    }

    header .header-menu {
        display: block;
    }
}

/* MAIN */
/* CARDS ABOUT */
/* TABLET */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .row .cards {
        width: calc(100% / 3 - 1.5rem);
    }

    .row .cards:first-child {
        width: calc(100% / 3 * 2 - 1.5rem / 2);
    }

}

/* DESKTOP */

@media screen and (min-width: 992px) {
    .cont-cards {
        width: 70%;
        margin: 0 auto;
    }
}


/* MAIN */
/* SECTION PLANNING */
/* DESKTOP */
@media screen and (min-width: 992px) {
    .section-planning .container {
        width: 60%;
        display: flex;
        margin: 0 auto;
    }

    .section-planning .strategic {
        margin-right: 1.5em;
    }

}

/* MAIN */
/* PARTNERS */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-partners .cards:not(:first-child) {
        flex-direction: row;
    }

    .section-partners .container {
        margin: 0 auto;
        width: 70%;
    }
}