/* HEADER */
/* TABLET/DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        margin: 0 auto;
        width: 70%;
        max-width: 900px;
    }

    header .fa-solid {
        display: none;
    }

    header .header-menu {
        display: block;
    }
}

/* MAIN */
/* CARDS ABOUT */
/* TABLET */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .row .cards {
        width: calc(100% / 3 - 1.5rem);
    }

    .row .cards:first-child {
        width: calc(100% / 3 * 2 - 1.5rem / 2);
    }

    .row .img {
        margin: 0 auto;
    }

}

/* DESKTOP */

@media screen and (min-width: 992px) {
    .cont-cards {
        width: 70%;
        margin: 0 auto;
    }

    .row .img {
        align-self: flex-end;
    }
}


/* MAIN */
/* SECTION PLANNING */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-planning h2 {
        font-size: 4rem;
        padding-bottom: 1.5em;
    }

    .section-planning h3 {
        font-size: 1.5rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .section-planning .container {
        width: 60%;
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
    }

    .section-planning .strategic {
        margin-right: 1.5em;
    }

    .section-planning h2 {
        font-size: 2rem;
        padding-top: 4em;
    }

}


/* MAIN */
/* PARTNERS */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-partners .cards:not(:first-child) {
        flex-direction: row;
    }

    .section-partners .cards .img {
        width: 30%;
    }

    .section-partners .cards p {
        width: 70%;

    }
}

@media screen and (min-width: 992px) {
    .section-partners .container {
        margin: 0 auto;
        width: 70%;
    }
}

/* MAIN */
/* BENEFITS */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-benefits .cont-bene-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-benefits .cards {
        width: calc(100% / 2 - 1em);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .section-benefits .cards {
        width: calc(100% / 3 - 1em);
    }
}

/* MAIN */
/* ABOUT-US */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-about-us .container {
        display: flex;
        justify-content: space-between;
    }

    .section-about-us .text {
        width: 60%;
        margin-right: 2em;
    }

    .section-about-us .img-linkedin {
        width: 40%;
    }

    .section-about-us .img-linkedin img {
        height: 200px;
        width: 200px;
    }

    .section-about-us .img-linkedin figure {
        left: 160px;
        font-size: 4rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .section-about-us .text {
        width: 70%;
        margin-right: 2em;
    }

    .section-about-us .img-linkedin {
        width: 30%;
    }

    /* .section-about-us .img {
        width: 70%;
    } */
}

/* MAIN */
/* GET STARTED */
/* TABLET */
@media screen and (min-width: 768px) {
    .section-get-started .container {
        width: 90%;
        margin: 0 auto;
    }

    .cont-cards .text {
        padding: 1.5em;
    }

    .cont-cards .img {
        width: 40%;
    }


}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .section-get-started .container {
        width: 50%;
        margin: 0 auto;
    }

    .cont-cards .cards:first-child {
        display: flex;
    }

    .cont-cards .text.text-apple {
        width: 60%;
        padding: 1.5em;
    }

    .cont-cards .img {
        width: 40%;
    }

}

/* FOOTER */
/* TABLET */
@media screen and (min-width: 768px) {
    footer .container {
        width: 70%;
        margin: 0 auto;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    footer .container {
        width: 40%;
        margin: 0 auto;
    }
}