/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
:root {
    /* PALETTE */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
    --background-footer: #333333;
    --font-color: hsl(208deg 17% 43%);
}

.flex {
    display: flex;
}

.space-beetween {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* #region HEADER */
header {
    background-color: var(--primary-col);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white;
}

header .container,
main .container {
    padding: 0.5em 1.5em;
}

.header-menu {
    display: none;
}

.header-menu li {
    padding-left: 1em;
}

.header-menu li:last-child {
    padding: 0 1em;
    margin-left: 1.5em;
    background-color: white;
    color: var(--background-footer);
    border-radius: 30px;

}

/* #endregion HEADER */



/* #region MAIN */
main {
    margin-top: 6em;
}

/* CARDS ABOUT */
.cards {
    border-radius: 10px;
    margin-bottom: 1em;
}

.cont-cards .cards {
    background-color: var(--primary-col-light);
    color: var(--font-color);
    text-align: center;
    padding: 1.5em 0;
}

.cont-cards h3 {
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    color: var(--primary-col);
}

.cont-cards .img {
    width: 50%;
}

/* SECTION PLANNING/APP */
.section-planning .container {
    padding-top: 3em;
}

.section-planning h2 {
    padding: 2em 0;
    font-size: 2rem;
}

.section-planning .cont-app-planning {
    text-align: center;
    padding-bottom: 3em;
}

.section-planning {
    background-color: var(--secondary-col);
    text-align: start;
}

.strategic,
.cont-app-planning {
    margin-bottom: 2em;
}

.cont-app-planning {
    background-color: white;
    border-radius: 50px;
}

/* SECTION PARTNERS */
.section-partners {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.section-partners .cards {
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    text-align: center;
}

.section-partners .cards:not(:first-child) {
    border-radius: 15px;
    background-color: var(--secondary-col);
}

.section-partners .cards .img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* DEBUG */
    border-radius: 50%;
    /* overflow: hidden; */
}

/* SECTION BENEFITS */
.section-benefits {
    background-color: var(--secondary-col);
    margin: 2em 0;
}

.section-benefits .cards {
    background-color: white;
    border-radius: 20px;
    padding: 1.5em;
}


/* SECTION ABOUT-US */

.section-about-us .img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.img-linkedin figure {
    top: 0;
    left: 80px;
    font-size: 2rem;
    color: var(--secondary-col);
}

/* SECTION GET STARTED */
.section-get-started {
    background-color: var(--secondary-col);
    margin-top: 1.5em;
    padding-bottom: 3em;
}

/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: var(--background-footer);
    min-height: 200px;
}

footer .text {
    padding-top: 2em;
    text-align: center;
}

/* #endregion FOOTER */