/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
:root {
    /* PALETTE */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
}

.flex {
    display: flex;
}

.space-beetween {
    justify-content: space-between;
}

.center {
    align-items: center;
}

/* #region HEADER */
header {
    background-color: var(--primary-col);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .container,
main .container {
    margin: 0;
    padding: 0.5em 1.5em;
}

.header-menu {
    display: none;
}

.header-menu li {
    padding-left: 1em;
}

/* #endregion HEADER */



/* #region MAIN */
main {
    margin-top: 6em;
}

.cards {
    margin-bottom: 1em;
    /* DEBUG */
    border: 1px solid red;
}

/* #endregion MAIN */




/* #region FOOTER */
/* #endregion FOOTER */